@charset "utf-8";

.layer {
  display:none;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:102;
  background-color:rgba(0,0,0,.5);
  &.multi {
    z-index:20;
    background-color:transparent;
  }
  &.project-modal {
    .layer-wrap {
      &.full {
        .close {
          display:block;
        }
      }
    }
  }
  &-wrap {
    position:fixed;
    top:50%;
    left:50%;
    //min-width:360px;
    padding:80px 0;
    background-color:#fff;
    transform: translate(-50%, -50%);
    text-align:center;
    &.full {
      top:0;
      left:0;
      right:0;
      bottom:0;
      padding:0;
      background:rgba(0,0,0,.2);
      transform: translate(0,0);
      .close {
        &.mobile {
          display:none;
        }
      }
    }
    &.modal {
      max-width:600px;
      width:100%;
      padding:20px 24px 40px;
      text-align:left;
      .layer-content {
        position:static;
        padding:0;
        @include transform(translate(0,0));
        .sg-text-09 {
          margin-top:10px;
        }
      }
      .btn-wrap {
        margin-top:40px;
        text-align:center;
        .btn {
          margin:0 3px;
        }
      }
      .close {
        position:absolute;
        top:20px;
        right:24px;
        display:block;
        width:24px;
        height:24px;
        background:url('/images/common/popup-close02.png') no-repeat left top;
        background-size:100%;
        &:before {
          display:none;
        }
      }
    }
  }
  &-content {
    //@include position(50%,0);
    //right:0;
    overflow-y:auto;
    overflow-x:hidden;
    min-width:500px;
    width:100%;
    margin:0 auto;
    //padding:0 47px 45px;
    padding:0;
    background:$default-c2;
    font-size:18px;
    color:$default-c1;
    line-height:30px;
    letter-spacing:-.18px;
    &.project {
      position:absolute;
      top:50%;
      left:0;
      right:0;
      max-width:1200px;
      max-height:960px;
      padding:0 47px 45px;
      @include transform(translate(0,-50%));
      .tbl-list {
        .width01 {
          width:16%;
        }
        .width02 {
          width:28%;
        }
        .width03 {
          width:25%;
        }
        .width04 {
          width:13%;
        }
        .width05 {
          width:18%;
        }
        tbody {
          td {
            height:95px;
            color:$default-c3;
            &.pc-only {
              color:$default-c5;
            }
          }
        }
      }
      .popup-top {
        position:relative;
        background:gray;
        height:221px;
        margin:0 -47px;
        background:url('/images/project/img-pj-popup01.jpg') no-repeat left top;
        background-size:cover;
        text-align:center;
        @include box-sizing;
        &.type01 {
          background:url('/images/project/img-pj-popup02.jpg') no-repeat left top;
          background-size:cover;
        }
        &.type02 {
          background:url('/images/project/img-pj-popup03.jpg') no-repeat left top;
          background-size:cover;
        }
        &.type03 {
          background:url('/images/project/img-pj-popup04.jpg') no-repeat left top;
          background-size:cover;
        }
        .text-box {
          position:absolute;
          top:50%;
          left:106px;
          right:106px;
          display:flex;
          text-align:center;
          @include transform(translate(0,-50%));
          .cell {
            position:relative;
            flex:1;
            & + .cell {
              &:before {
                position:absolute;
                top:50%;
                left:0;
                display:block;
                width:1px;
                height:101px;
                background:$default-c2;
                opacity:.3;
                @include transform(translate(0,-50%));
                content:'';
              }
            }
          }
        }
        em {
          display:block;
          font-size:40px;
          font-weight:500;
          color:$default-c2;
          line-height:68px;
          letter-spacing:-2px;
          span {
            font-weight:500;
          }
        }
        .total {
          display:block;
          font-size:24px;
          font-weight:500;
          color:$point-c1;
          line-height:40px;
          letter-spacing:-1.2px;
          span {
            font-weight:500;
          }
        }
      }
    }
    &.youtube {
      position:absolute;
      top:vw(200px);
      bottom:vw(200px);
      left:0;
      right:0;
      overflow:hidden;
      height:auto;
      max-width:1200px;
      max-height:inherit;
      padding:0;
      @include transform(translate(0,0));
    }
    .paging {
      margin-top:40px;
    }
  }
  .title {
    padding-bottom:20px;
    border-bottom:1px solid #e8e8e8;
    font: {
      size:$fs-big;
      weight:$fw-bold;
    }
  }
  .button-wrap {
    margin-top:34px;
    .btn {
      margin:0 3px;
      &:only-child {
        margin:0;
      }
    }
  }
  .close {
    position:absolute;
    top:38px;
    right:45px;
    display:block;
    width:60px;
    height:60px;
    background:$default-c3;
    z-index:1;
    &:before {
      @include after-position(14px,14px,32px,32px);
      background:url('/images/common/popup-close.png') no-repeat left top;
      background-size:100% 100%;
    }
  }
  .search-area {
    margin:20px 0 16px;
    @include clearfix;
    .inbox {
      position:relative;
      float:right;
      width:280px;
      input[type="text"] {
        padding-right:36px;
        border:1px solid #444;
        @include border-radius(100px);
        line-height:38px;
      }
      .search {
        position:absolute;
        top:12px;
        right:12px;
        display:block;
        width:16px;
        height:16px;
        background:url('../images/common/ic-search.svg') no-repeat left top;
        background-size:100% 100%;
      }
    }
  }
  &-input-box {
    margin-top:40px;
    .area {
      position:relative;
      padding-left:130px;
      label {
        position:absolute;
        top:50%;
        left:0;
        font-size:16px;
        color:$default-c3;
        line-height:27px;
        letter-spacing:-.8px;
        @include transform(translate(0,-50%));
        span {
          color:$point-c1;
        }
      }
      & + .area {
        margin-top:20px;
        font-size:16px;
        color:$default-c3;
        line-height:27px;
        .input-box, .select-box {
          display:inline-block;
          width:142px;
          vertical-align:middle;
        }
        .input-box {
          width:120px;
          margin-right:5px;
          & + .input-box {
            margin:0 0 0 5px;
          }
        }
        .select-box {
          position:absolute;
          top:0;
          right:0;
          //margin-left:5px;
        }
      }
    }
    .mo-flex {
      display:inline-block;
    }
  }
}

// popup
@include mobile {
  .layer {
    &.multi {
    }
    &-wrap {
      left:2.4rem;
      right:2.4rem;
      padding:8rem 0;
      @include transform(translate(0,-50%));
      &.full {
        overflow:auto;
        .close {
          display:none;
          &.mobile {
            display:block;
          }
        }
      }
      &.modal {
        left:2.4rem;
        right:2.4rem;
        max-width:inherit;
        width:auto;
        padding:8rem 1.6rem;
        @include transform(translate(0,-50%));
        .layer-content {
          position:static;
          padding:0;
          @include transform(translate(0,0));
          .sg-text-09 {
            margin-top:1rem;
            line-height:2.8rem;
            letter-spacing:-.1rem;
          }
        }
        .btn-wrap {
          margin-top:4rem;
          text-align:center;
          .btn {
            margin:0 .3rem;
          }
        }
        .close {
          top:2.4rem;
          right:2.4rem;
          width:3rem;
          height:3rem;
          background:$point-c1;
          &:before {
            position:absolute;
            top:50%;
            left:50%;
            display:block;
            width:1.6rem;
            height:1.6rem;
            background:url('/images/common/popup-close-m.png') no-repeat left top;
            background-size:100%;
            @include transform(translate(-50%,-50%));
            content:'';
          }
        }
      }
    }
    &-content {
      position:static;
      max-height:inherit;
      max-width:inherit;
      min-width:inherit;
      margin:0;
      padding:0 2.4rem;
      font-size:1.8rem;
      line-height:3rem;
      letter-spacing:-.018rem;
      @include transform(translate(0,0));
      &.project {
        top:0;
        max-height:inherit;
        padding:0 2.4rem 10rem;
        @include transform(translate(0,0));
        .tbl-list {
          .width01 {
            width:33.33%;
          }
          .width02 {
            width:33.33%;
          }
          .width03 {
            width:33.33%;
          }
          tbody {
            td {
              color:$default-c3;
              &.pc-only {
                color:$default-c5;
              }
            }
          }
        }
        .popup-top {
          height:32rem;
          margin:0 -2.4rem;
          background:url('/images/project/img-pj-popup01-m.jpg') no-repeat left top;
          background-size:cover;
          text-align:center;
          @include box-sizing;
          &.type01 {
            background:url('/images/project/img-pj-popup02-m.jpg') no-repeat left top;
            background-size:cover;
          }
          &.type02 {
            background:url('/images/project/img-pj-popup03-m.jpg') no-repeat left top;
            background-size:cover;
          }
          &.type03 {
            background:url('/images/project/img-pj-popup04-m.jpg') no-repeat left top;
            background-size:cover;
          }
          .text-box {
            left:2.4rem;
            right:2.4rem;
            flex-direction:column;
            .cell {
              & + .cell {
                margin-top:2rem;
                &:before {
                  display:none;
                }
              }
            }
          }
          em {
            font-size:3.2rem;
            line-height:4.6rem;
            letter-spacing:-.16rem;
          }
          .total {
            margin-top:.4rem;
            font-size:2rem;
            line-height:2.8rem;
            letter-spacing:-.1rem;
          }
        }
      }
      &.youtube {
        position:absolute;
        top:50%;
        bottom:auto;
        overflow:initial;
        left:2.4rem;
        right:2.4rem;
        height:18.4rem;
        width:inherit;
        padding:0;
        @include transform(translate(0,-50%));
        .close {
          top:-5rem;
          right:0;
        }
      }
    }
    .title {

    }
    .button-wrap {
      margin-top:3.4rem;
      .btn {
        margin:0 .3rem;
      }
    }
    .close {
      top:3rem;
      right:2.4rem;
      width:3rem;
      height:3rem;
      background:$point-c1;
      &:before {
        top:.7rem;
        left:.7rem;
        width:1.6rem;
        height:1.6rem;
        background:url('/images/common/popup-close-m.png') no-repeat left top;
        background-size:100% 100%;
      }
    }
    .search-area {
      margin:4rem 0 2rem;
      .inbox {
        float:none;
        width:100%;
        input[type="text"] {
          height:6rem;
          padding:0 6rem 0 3rem;
          font-size:1.8rem;
          line-height:5.8rem;
        }
        .search {
          top:1.8rem;
          right:3rem;
          width:2.4rem;
          height:2.4rem;
          background:url('/images/common/ic-search-m.svg') no-repeat left top;
        }
      }
    }
    &-input-box {
      margin-top:4rem;
      .area {
        padding-left:7rem;
        label {
          font-size:1.6rem;
          line-height:2.7rem;
          letter-spacing:-.08rem;
          span {}
        }
        & + .area {
          margin-top:2rem;
          font-size:1.6rem;
          line-height:2.7rem;
          label {
            top:.6rem;
            @include transform(translate(0,0));
          }
          .input-box, .select-box {
            width:100%;
          }
          .input-box {
            margin-right:.8rem;
            & + .input-box {
              margin:0 0 0 .8rem;
            }
          }
          .select-box {
            position:relative;
            display:block;
            margin:1rem 0 0;
          }
        }
      }
      .mo-flex {
        display:flex;
        align-items:center;
      }
    }
  }
}

// popup
@include tablet {
  .layer {
    &-content {
      &.youtube {
        position:absolute;
        top:50%;
        bottom:auto;
        left:2.4rem;
        right:2.4rem;
        height:50%;
        width:inherit;
        padding:0;
        @include transform(translate(0,-50%));
      }
    }
  }
}