@charset "utf-8";
// weight
$fw-default: 400;
$fw-medium: 500;
$fw-bold: 700;

// size
$fs-big: 20px;
$fs-base: 16px;
$fs-small: 14px;

// color
$fc-invert:#fff;
$line-color:#e8e8e8;
$primary:#6648c8;
$accent:#f86454;

$point-c1:#da2128;
$point-c2:#c7730e;
$point-c3:#202;

$default-c1:#000;
$default-c2:#fff;
$default-c3:#202020;
$default-c4:#787878;
$default-c5:#787878;
$default-c6:#dddddd;
$default-c7:#aaa;
$default-c8:#eee;
$default-c9: #c4c4c4;
$default-c10:#f8f8f8;
$default-c11:#c8c8c8;
$default-c12:#bbb;
// 444
// aaa

